@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sansita+Swashed:wght@300..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-default);
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color, border-color, opacity;
}

@media (prefers-color-scheme: dark) {
    :root {
      color-scheme: dark;
    }
}

@media (prefers-color-scheme: light) {
    :root {
      color-scheme: light;
    }
}

:root {
    font-size: 10px;
    font-weight: 500;

    --brand:                    light-dark(#5c8ebd, #5c8ebd);
    --text-default:             light-dark(#333333, #bcbcbc);
    --text-soft:                light-dark(#808080, #a7a6a6);
    --scrollbar-thumb:          light-dark(#c7c7c7, #616161);
    --scrollbar-thumb-hover:    light-dark(#b5b5b5, #545353);
    --input-background:         light-dark(#e6e6e6, #4d4f53);
    --border-default:           light-dark(#9aa4ad, #61676d);
    --border-soft:              light-dark(#cbced3, transparent);
    --border-hover:             light-dark(#4f6c88, #6179af);
    --border-highlight:         light-dark(#1f3041, #2c4cb4);
    --background-default:       light-dark(#e3e7e9, #28292b);
    --background-highlight:     light-dark(#c5d8e2, #4f565c);
    --foreground-default:       light-dark(#ffffff, #333336);
    --foreground-hover:         light-dark(#e9e9e9, #4e5155);
    --icon-default:             light-dark(#666666, #afacac);
    --icon-soft:                light-dark(#aaaaaa, #8b8b8b);
    --icon-highlight:           light-dark(#333333, #c5c3c3);
    --overlay:                 rgba(0, 0, 0, .25);
}

:root.dark {
    color-scheme: dark;
    --inset-shadow-dark-side:   inset 2px 2px 2px 1px  rgba(0, 0, 0, .5);
    --inset-shadow-light-side:  inset -2px -2px 2px 1px  rgba(255, 255, 255, .1);
}

:root.light {
    color-scheme: light;
    --inset-shadow-dark-side:  inset 2px 2px 2px 1px  rgba(0, 0, 0, .25);
    --inset-shadow-light-side: inset -2px -2px 2px 1px  rgba(255, 255, 255, .4);
}


body, #app, main, html {
    height: 100%;
}

body {
    height: 100%;
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--scrollbar-thumb);
}

html::-webkit-scrollbar-thumb:hover {
    border-radius: 8px;
    background-color: var(--scrollbar-thumb-hover);
}
